body {
   background-image: url(https://static.wikia.nocookie.net/gravityfalls/images/c/c8/S2e18_open_sky.jpg/revision/latest/scale-to-width-down/1200?cb=20151101013913);
 background-repeat: no-repeat;
   background-position: center; 
  background-size: cover; 
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 30px;
  border: 15px double rgb(247, 231, 20);
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(254, 255, 233, 0);
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
  border-radius: 30px;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: 15px double rgba(239, 243, 17, 0.699);
}

h2{
  color: rgb(230, 216, 22);
}

#start{
  text-align: left;
  
}

#end{
  text-align: right;
}


